* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: #2e3a46;
}

header img {
  width: 50px;
}

main {
  width: 100%;
  background-color: #1e2d3b;
}

footer {
  background-color: #2e3a46;
  display: flex;
  justify-content: center;
  height: 20px;
}

footer p {
  color: white;
}

.music {
  width: 150px;
  text-align: center;
  background-color: #2e3a46;
}

.album {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  padding-top: 3em;
  padding-bottom: 3em;
}

.album-music {
  width: 100%;
  padding: 0.3em;
}

span {
  display: block;
  color: white;
}

.title {
  font-size: 0.8em;
  font-weight: bold;
}

.author,
.year {
  color: lightgray;
  font-size: 0.6em;
}
